@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: aktifoa-bold;
  src: url("./assets/Avery\ Dennison\ Fonts/aktifoa-bold.otf");
}

@font-face {
  font-family: aktifoa-medium;
  src: url("./assets/Avery\ Dennison\ Fonts/aktifoa-medium.otf");
}

@font-face {
  font-family: aktifoa-book;
  src: url("./assets/Avery\ Dennison\ Fonts/aktifoa-book.otf");
}

@font-face {
  font-family: aktifoa-light;
  src: url("./assets/Avery\ Dennison\ Fonts/aktifoa-light.otf");
}

@font-face {
  font-family: aktifoa-bookoblique;
  src: url("./assets/Avery\ Dennison\ Fonts/aktifoa-bookoblique.otf");
}

@font-face {
  font-family: aktifoa-lightoblique;
  src: url("./assets/Avery\ Dennison\ Fonts/aktifoa-lightoblique.otf");
}

@font-face {
  font-family: aktifoa-mediumoblique;
  src: url("./assets/Avery\ Dennison\ Fonts/aktifoa-mediumoblique.otf");
}

@font-face {
  font-family: aktifoa-semibold;
  src: url("./assets/Avery\ Dennison\ Fonts/aktifoa-semibold.otf");
}

@font-face {
  font-family: aktifoa-semiboldoblique;
  src: url("./assets/Avery\ Dennison\ Fonts/aktifoa-semiboldoblique.otf");
}

* {
  scroll-behavior: smooth;
}
